<html>
<head>
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    <div class="image-container">
        <img src="{{ .ImagePath }}" />
        {{ range .Zones }}
            <a class="clickable-zone" href="{{ .Target }}" style="left: {{ .Left }}px; top: {{ .Top }}px; width: {{ .Width }}px; height: {{ .Height }}px;" title="&rarr; {{ .TargetTitle }}"></a>
        {{ end }}
    </div>
    {{- if .NoteHTML }}
    <div class="note">{{ .NoteHTML }}</div>
    {{- end }}
</body>
</html>
