<html>
<head>
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/styles.css" />
</head>
<body>
    <div class="image-container">
        <img src="{{ .ImagePath }}" />
        {{ range .Zones }}
            <a class="clickable-zone"
               href="{{ .Target }}"
               style="left: {{ .Left }}px; top: {{ .Top }}px; width: {{ .Width }}px; height: {{ .Height }}px;"
               data-tooltip="&raquo; {{ .TargetTitle }}"></a>
        {{ end }}
    </div>
    <div class="note"><p>Return to the <a href="/">index</a>. </p>{{ .NoteHTML }}</div>
</body>
</html>
