<style>
    body { margin: 0; } /* check */
    .image-container {
        position: relative;
        display: inline-block;
    }
    .clickable-zone {
        position: absolute;
        display: block;
    }
    .clickable-zone:hover {
        background-color: rgba(0, 0, 255, 0.1); /* blue with opacity */
        border: 1px solid rgba(0, 0, 255, 0.7);
    }
    /* CSS tooltip */
    .clickable-zone:hover::after {
        content: attr(title); /* show title attribute */
        position: absolute;
        bottom: -24px;
        left: -2px;
        background-color: white;
        color: blue;
        padding: 2px 12px 4px 6px;
        font-family: Roboto, sans-serif;
        font-size: 11px;
        opacity: 1.0;
    }
    .index {
        padding: 20px;
        font-family: Roboto, sans-serif;
        font-size: 14px;
    }
    li {
        margin-left: -1.6em;
        line-height: 1.4em;
    }
    h1 {
        font-size: 16px;
    }
</style>
