<style>
    body {
        font-family: Roboto, sans-serif;
    }

    .image-container {
        margin: 5px;
        position: relative;
        display: inline-block;
        font-family: Roboto, sans-serif;
    }

    .image-container img {
        display: block; /* prevent mystery gap below image */
    }

    .clickable-zone {
        position: absolute;
        display: block;
        /* make background and border (if used) invisible by default */
        background-color: transparent;
        border: 1px solid transparent;
        /* smooth fade-in effect */
        transition: background-color 0.2s, border-color 0.2s;
    }

    /* show all zones */
    .image-container:hover .clickable-zone {
        background-color: rgba(0, 0, 255, 0.05);
    }

    /* specific clickable zone */
    .image-container:hover .clickable-zone:hover {
        background-color: rgba(0, 0, 255, 0.12);
    }

    /* tooltip */
    .clickable-zone:hover::after {
        content: attr(data-tooltip);
        position: absolute;
        z-index: 10;
        top: 100%;
        left: -3px;
        margin-top: 3px;
        
        /* no wrapping */
        white-space: nowrap;

        background-color: white;
        color: blue;
        padding: 5px 10px 5px 3px;
        font-size: 11pt;
    }
    
    /* general */
    .index {
        padding: 20px;
        font-family: Roboto, sans-serif;
        font-size: 13pt;
    }
    li {
        margin-left: -1.6em;
        line-height: 1.4em;
    }
    h1 {
        font-size: 14pt;
    }
    .note {
        margin: 4px 0 3px 10px;
        padding: 0px;
        font-size: 13pt;
        font-family: Roboto, sans-serif;
        color: blue;
        max-width: 900px;
    }
    .note p {
        display: inline;
        padding: 0;
        margin: 0;
    }
</style>
